html,
body {
    background-color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-wrapper {
    background-color: whitesmoke;
    max-width: 600px;
}

.post-header,
.options-div {
    display: flex;
    justify-content: space-between;
    margin: 2.5%;
}

.align-left,
.icons-left {
    width: 60%;
    display: flex;
    float: left;
}

.post-info {
    width: 100%;
}

.user-image {
    margin: auto;
    margin-right: 2%;
}

.user-image i,
.more-options i {
    font-size: 1.5em;
    align-items: center;
}

.post-info p {
    margin: 0 0 0 1.5%;
    text-align: left;
}

.username {
    font-weight: bold;
}

.more-options,
.icons-right {
    margin: auto 1%;
}

.icons-left i {
    margin-right: 2%;
}

.footer-div {
    height: 30%;
    margin: 2.5%;
}

.post-image {
    display: flex;
    justify-content: center;
}

.post-image img {
    max-width: 100%;
}

.footer-div div p {
    margin: 3% 0;
}