.postWrapper {
    margin: 2% auto 2% auto;
    width: 50%;
    height: 60%;
}

.postHeader,
.optionsDiv {
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

.alignLeft {
    width: 50%;
    display: flex;
    float: left;
}

.postInfo {
    width: 100%;
}

.userImage {
    margin: auto 0;
}

.userImage i,
.moreOptions i {
    font-size: 1.5em;
    align-items: center;
}

.postInfo p {
    margin: 0 0 0 1.5%;
    text-align: left;
}

.username {
    font-weight: bold;
}

.moreOptions {
    margin: auto 0;
}

.footerDiv {
    height: 30%;
    margin: 1%;
}

.postImage {
    display: flex;
    justify-content: center;
}

.postImage img {
    max-width: 100%;
}

.footerDiv div p {
    margin: 3% 0;
}