html,
body {
    background-color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.postWrapper {
    background-color: whitesmoke;
    max-width: 600px;
}

.postHeader,
.optionsDiv {
    display: flex;
    justify-content: space-between;
    margin: 2.5%;
}

.alignLeft,
.iconsLeft {
    width: 60%;
    display: flex;
    float: left;
}

.postInfo {
    width: 100%;
}

.userImage {
    margin: auto;
    margin-right: 2%;
}

.userImage i,
.moreOptions i {
    font-size: 1.5em;
    align-items: center;
}

.postInfo p {
    margin: 0 0 0 1.5%;
    text-align: left;
}

.username {
    font-weight: bold;
}

.moreOptions,
.iconsRight {
    margin: auto 1%;
}

.iconsLeft i {
    margin-right: 2%;
}

.footerDiv {
    height: 30%;
    margin: 2.5%;
}

.postImage {
    display: flex;
    justify-content: center;
}

.postImage img {
    max-width: 100%;
}

.footerDiv div p {
    margin: 3% 0;
}